nav{
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav a.logo{
    font-size: 33px;
    color: #0f2182;
    font-weight: 600;
}

nav .links a:not(:last-child){
    margin-right: 20px;
}

nav .login button{
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

nav .login button.signup{
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    margin-right: 14px;
}